.o-page-wrapper {
  // overflow to prevent shrinking on chrome
  overflow: hidden;
  min-height: 100vh;
  height: 100vh;
  margin: 0 auto;
  display:grid;
  grid-template-rows:minmax(75px,auto) 1fr minmax(110px, auto);
}
.o-content-page-wrapper {
  max-width: 1290px;
  width:100%;
  height:100%;
  margin:0 auto;
  padding:10px;
}

