.o-page-wrapper {
  min-height: 100vh;
  height: 100vh;
  margin: 0 auto;
  background: greenyellow;
  display:grid;
  grid-template-rows: 75px 1fr 110px;
}
.o-content-page-wrapper {
  max-width: 1290px;
  width:100%;
  height:100%;
  margin:0 auto;
  border: 1px solid red;
}
