html,
body {
  font-family: Roboto, sans-serif, serif;
}

h1 {
  font-size: 46px;
}
h2 {
  font-size: 42px;
}
h3 {
  font-size: 38px;
}
h4 {
  font-size: 34px;
}
h5 {
  font-size: 30px;
}
h6 {
  font-size: 22px;
}
p {
  font-size: 20px;
}
