@import './../settings/variables.scss';
.c-main-header {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);
  // pos:relative and z-index used to show box-shadow over next element
  position: relative;
  z-index: 1;

  &__main-navigation{
    display:none;
    @include for-tablet-landscape-up  {
    display:block;
    }
  }

  &__mobile-navigation{
    display:block;
    @include for-tablet-landscape-up  {
    display:none;
    }
  }

  .o-content-page-wrapper {
    background: white;
    display: grid;
    column-gap: $primary-spacing;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-and-name {
    display: grid;
    grid-template-columns: 56px max-content;
    align-items: center;
    column-gap: $primary-spacing;
  }
  &__name {
    color: $primary-velvet;
    font-weight:bold;
  }
  &__logo__img {
    background: $primary-velvet;
    border-radius:50%;
    padding:5px;
  }
}
