.c-main-mobile-nav {
  color: $primary-velvet;


  &__button{
    padding:$primary-padding;display:flex;
    justify-content: center;
    align-items: center;

    &__icon {
      font-size: 30px;
    }
  }

  &__list {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
      0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);

    position: absolute;
    width: 43%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 260px;
    top: 61px;
    right: 10px;
    bottom: 0;
    background: white;
    padding: $primary-spacing;
    border-radius: 5px;
  }
  &__list-item {
    font-weight: bold;
    &__link{
      display:block;
      border-radius:$primary-radius;
      padding:$primary-padding;
    }
  }
  &__list-item:hover a {
    background: $secondary-velvet;
  }
}
