.c-main-mobile-nav {
  color: $primary-velvet;
  &__menu__icon {
    font-size: 30px;
  }

  &__list {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
      0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);

    position: absolute;
    width: 43%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 200px;
    top: 61px;
    right: 10px;
    bottom: 0;
    background: white;
    padding: 10px;
    border-radius: 5px;
  }
  &__list-item {
    font-weight: bold;
    &__link:hover {
      background: $primary-velvet;
      opacity: 0.1;
    }
  }
}
