.c-main-nav__list {
  height: 100%;
  display: grid;
  grid-template-columns: max-content max-content max-content max-content max-content;
}

.c-main-nav__list-item__link {
  font-weight: bold;
  position: relative;
}

.c-main-nav__list-item__link::before {
  content: '';
  opacity: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  bottom: 1px;
  transition: all 0.3s ease-out;
}

.c-main-nav__list-item__link:hover::before {
  opacity: 0;
}
