.c-main-nav{
  &__list{
    height:100%;
  display:grid;
  grid-template-columns: max-content max-content max-content max-content max-content;
  column-gap:$primary-spacing;
  }
  &__list-item__link {
    font-weight:bold;
    color:$primary-velvet;
    position:relative;
    &::before{
      content:'';
      opacity:0;
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      top: 23px;
      background:$primary-velvet;
      transition:all 0.2s ease-out ;
    }
    &:hover::before{
      opacity:1;
    }
  }
}
